.main-page{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding:0%;
    height: 93vh;
}

.main-page-center{
    display:flex;
    flex-direction: column;
    justify-content:left;
    align-items: flex-start;
    width: 40vw;
    height: inherit;
}

.main-page-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: inherit;
}

.main-page-right{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: inherit;
}