.nav-link {
    padding: 0.3em;
    color: #ffffff;
    text-decoration: none;
    transition: 0s;
}

.nav{
    display:flex;
    background-color: black;
    align-items: center;
    text-transform: uppercase;
    height: 8vh;
    padding:0;
    margin: 0;
    border-bottom: 0.02em solid white;
}

.menuLogo{
    font-size: 2.25rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    padding-left:0px;
    padding-top:0;
    margin-left: 0.5em;
    color: #fab300;
}

.nav :hover {
    /* position: absolute; */
    /* background-color: #550000; */
    color: #fab300;
}
.menuItems {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}
.menuItems li {
    text-decoration: none;
    color: #ffffff;
    font-size:1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    outline: 1px solid #222222;
    padding: 0;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 1em;
}

.menuItems li :visited{
    text-decoration: none;
    outline: 1px solid #222222;
    color: #ffffff;
    font-size:1.5rem;
    height: max-content;
    font-weight: 400;
    text-transform: uppercase;
}
.menuItems li :hover{
    /* position: absolute; */
    outline: 0.15em solid #fab300;
    color: #fab300;
    background-color: #222222;
    border-radius: 1em;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, outline-color 0.5s ease-in-out, border-radius 0s ease-in-out;
}

/* 
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
} */
