.users{
    width: inherit
}

.dropdown-list{
    display: flex;
    width:inherit;
}

.user-table{
    width: inherit;
    height: fit-content;
    max-height: 70vh;
    overflow-y: scroll;
}
.table-wrapper{
  position:relative;
}
.table-scroll{
  height: 70vh;
  overflow:auto;  
  margin-top:20px;
  margin-right: 0.2vw;
}
.table-scroll::-webkit-scrollbar{
    display: none;
}

.table-wrapper table {
    width:100%; 
    color: white;
    background-color: #222222;
  }

.table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:25%;
    border:1px solid orangered;
  }

  .search-form{
      display: flex;
      flex-direction: row;
      align-items: center;
  }