.main-page{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    color: white;
    padding:0%;
    height: 92vh;
}

.main-page-center{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    width: 40vw;
    height: inherit;
}

.main-page-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: inherit;
}

.main-page-right{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35vw;
    height: inherit;
}
.main-page-center-posts{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    width: 40vw;
    height: inherit;
}