.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    margin-bottom: 1vh;
}

.register-form fieldset{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.register-form fieldset>*{
    margin: 0;
}

.gender{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}